{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>${{ cash }}</td>
            </tr>
        </tfoot>
        <tbody>
            
            {% for row in rows %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["company"] }}</td>
                    <td>{{ row["amount"] }}</td>
                    <td>${{ row["price"] }}</td>
                    <td>${{ row["total"] }}</td>
                </tr>
            {% endfor %}
                
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{ wallet }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
